Wifi/flows.json
[
    {
        "id": "6319be3ea4cd438f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fcb7eb8668f7439",
        "type": "mqtt in",
        "z": "6319be3ea4cd438f",
        "name": "",
        "topic": "4ID3_GroupSIX/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3a26706677d9b02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "cc645f88805404bb",
                "4f6433d1b68ffaca"
            ]
        ]
    },
    {
        "id": "cc645f88805404bb",
        "type": "debug",
        "z": "6319be3ea4cd438f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "4f6433d1b68ffaca",
        "type": "ui_chart",
        "z": "6319be3ea4cd438f",
        "name": "Temperature",
        "group": "1d123ad88766b1d0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "12c310f85c502ef9",
        "type": "mqtt in",
        "z": "6319be3ea4cd438f",
        "name": "",
        "topic": "4ID3_GroupSIX/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3a26706677d9b02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "02c8dcc6d2d9ffbd",
                "9a578c919587a112"
            ]
        ]
    },
    {
        "id": "02c8dcc6d2d9ffbd",
        "type": "debug",
        "z": "6319be3ea4cd438f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "9a578c919587a112",
        "type": "ui_chart",
        "z": "6319be3ea4cd438f",
        "name": "Humidity",
        "group": "1d123ad88766b1d0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "994770057abd7ca1",
        "type": "mqtt in",
        "z": "6319be3ea4cd438f",
        "name": "",
        "topic": "4ID3_GroupSIX/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3a26706677d9b02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "7f38b8662ca1b11b",
                "00484628da7fc68b"
            ]
        ]
    },
    {
        "id": "7f38b8662ca1b11b",
        "type": "debug",
        "z": "6319be3ea4cd438f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "00484628da7fc68b",
        "type": "ui_chart",
        "z": "6319be3ea4cd438f",
        "name": "Pressure",
        "group": "1d123ad88766b1d0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "77f6055ace7f6f33",
        "type": "mqtt in",
        "z": "6319be3ea4cd438f",
        "name": "",
        "topic": "4ID3_GroupSIX/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a3a26706677d9b02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "18d59e9a5d47ea4f",
                "12c38aeebbc67c03"
            ]
        ]
    },
    {
        "id": "18d59e9a5d47ea4f",
        "type": "debug",
        "z": "6319be3ea4cd438f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "12c38aeebbc67c03",
        "type": "ui_chart",
        "z": "6319be3ea4cd438f",
        "name": "Light",
        "group": "1d123ad88766b1d0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a3a26706677d9b02",
        "type": "mqtt-broker",
        "name": "Wifi Test",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d123ad88766b1d0",
        "type": "ui_group",
        "name": "Wifi Test",
        "tab": "e8291622c0a792d0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8291622c0a792d0",
        "type": "ui_tab",
        "name": "Wifi Test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8fc3dde9a69627fe",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]